@{
    ViewBag.Title = "About us";
}

<section class="col-12 bg-linear-black mx-auto row mt-5 pt-5">
    <div class="col-11 col-md-8 col-lg-6 mx-auto ml-md-auto mr-md-0 text-white box-shadow-black py-4">
        <div class="mb-4">
            <div class="mb-3 row">
                <div class="col-12">
                    <h1>HISTORY</h1>
                    <h2 class="text-center">YEARS EXPERIENCE WORK WITH JAPANESE, KOREAN</h2>
                    <h5>
                        We have experience work with Japanese and Korean which is recognized
                        as a prestigious company that specializes in application for Vietnam
                        visas on behalf of expats in Vietnam. With professional consultants
                        from consultancy, providing quotations to delivery of visas, we’ve satisfied
                        even highly demanding customers and been trusted by thousands of customers.
                        Yuri Visa is a provider professional of package services for Vietnamese and
                        foreigners in Ho Chi Minh City and Hanoi...
                    </h5>
                    <hr />
                    <img class="card-img" src="~/Content/img/yurivisa-history.jpg" alt="yurivisa-history" />
                    <hr />
                    <h5>

                        <strong>What are Competitive Advantages of YURIVISA in providing visa application service?</strong>
                    </h5>
                    <div class="col-11 mx-auto">
                        <h6>
                            <i class="fas fa-angle-double-right"></i> Offering free consultancy related to current provisions of Vietnam Law on Immigration
                            for expats applying for Vietnam visas.<br />
                        </h6>
                        <h6>
                            <i class="fas fa-angle-double-right"></i> For applicants who want to obtain visas to travel overseas, we will
                            inform you of necessary documents and share how to obtain visas.<br />
                        </h6>
                        <h6>
                            <i class="fas fa-angle-double-right"></i> Providing consultancy so that customers can choose suitable solutions
                            at lowest cost and fast processing time during applying for issuance and extension of visas.<br />
                        </h6>
                        <h6>
                            <i class="fas fa-angle-double-right"></i> Having ability to handle ‘difficult’ cases, cases with insufficient documents, expats
                            staying in Vietnam for longer than their visas’ validity period, URGENT entry visas at airports.<br />
                        </h6>
                        <h6>
                            <i class="fas fa-angle-double-right"></i> Service fees in connection with entry and exit visas application are lower than those
                            charged by other companies thanks to our good relationships with competent State agencies.<br />
                        </h6><br />
                        <h6 class="text-center">
                            <strong>
                                With our high-quality services, lowest service fee in the market and fast processing time, our
                                visa application service will definitely satisfy you.
                            </strong>
                        </h6>
                    </div>
                </div>
            </div>
            <hr class="bg-orange-3" />
        </div>
    </div>
    <div class="col-12 col-md-3  text-uppercase mx-auto mr-md-auto ml-md-3">
        <div class="p-4 d-block d-md-none col-12"></div>
        <table class="table  bg-linear-black  text-center box-shadow-black">
            <thead>
                <tr>
                    <th scope="col" class="border-top-0"> <a class="link-standard" href="/vietnam-visa-services-for-foreigner">VIETNAM VISA SERVICES FOR FOREIGNER</a></th>
                </tr>
            </thead>
            <thead>
                <tr>
                    <th scope="col" class="border-top-0"> <a class="link-standard" href="/vietnam-visa-services-for-vietnamese">VISA SERVICES FOR VIETNAMESE</a></th>
                </tr>
            </thead>
            <thead>
                <tr>
                    <th scope="col">  <a class="link-standard" href="http://Chungminhtaichinhhochiminh.com">FINANCE PROOF</a></th>
                </tr>
            </thead>
            <tbody>
                <tr>
                    <th scope="col">  <a class="link-standard" href="#"> CONSULAR LEGALIZATION</a></th>
                </tr>
            </tbody>
        </table>
        <div class="d-block col-12 py-4"></div>
        <div>
            <div class="card border-radius-10 bg-dark text-white box-shadow-black">
                <img class="card-img img-filter-black" src="~/Content/img/yurivisa-history.jpg" alt="Card image">
                <div class="card-img-overlay  d-flex flex-column justify-content-center">
                    <h3 class="card-title">About our Office</h3>
                    <a href="~/about-us" class="btn bg-orange-3 text-light">LEARN MORE</a>
                </div>
            </div>
        </div>
        <div class="d-block col-12 py-4"></div>
        <div class="p-4 text-light bg-linear-black box-shadow-black">
            <p class="text-orange-3">
                <big><i class="fas fa-map-marker-alt"></i> visit us</big>
            </p>
            <small>13, Street 41, Ward 10, District 6, HO CHI MINH City</small>
            <hr />
            <p class="text-orange-3"><big><i class="fas fa-phone"></i> Call us</big><br /></p>
            <small>Call us on <a class="link-standard" href="tel:0352165585">+84 352 165 585 </a></small>
            <hr />
            <p class="text-orange-3"><big><i class="far fa-envelope"></i> Mail us</big></p>
            <small>Mail us on <a class="link-standard" href="mailto:info@yurivisa.com">info@yurivisa.com </a></small>
        </div>
    </div>
    <div class="d-block p-4 col-12"></div>
</section>