
@{
    ViewBag.Title = "APPLY FOR AN APPROVAL LETTER TO ENTER VIETNAM";
}
<div class="bg-linear-black">
    <div class=" mx-auto p-0">
        <div class="row  text-orange-3 p-2">
            <div class="col-11 col-md-8 col-lg-6 mx-auto ml-md-auto mr-md-0 text-white box-shadow-black py-4">
                <div class="row border-bottom border-orange-1">
                    <div class="col-6 col-sm-5 col-md-4 col-lg-3 bg-orange-4">
                        <i class="far fa-clock"></i>
                        <small> 16th October 2018</small>
                    </div>
                    <div class="col-5 col-sm-4 col-md-3 col-lg-2 bg-orange-4">
                        <i class="far fa-edit"></i>
                        <small>By <i>Yurivisa</i></small>
                    </div>
                </div>
                <h2 class="text-center ">
                    <strong>
                        APPLY FOR AN APPROVAL LETTER TO ENTER VIETNAM
                    </strong>
                </h2>
                <p>
                    <strong>  1.	What is an approval letter?</strong><br />
                    Approval Letter is the legal document approved by the Vietnam
                    Immigration Department to allow foreigners enter into Vietnam
                    and pick up visa at the overseas Embassies or Consulates of Vietnam,
                    or at the international border gates or at the Vietnam’s international
                    airports as Tan Son Nhat, Noi Bai and Da Nang, Cam Ranh and Phu Quoc airport.
                    Visitors to Vietnam must obtain a visa from one of the Vietnamese embassy, consulate in
                    advance or apply for a visa-on-arrival or apply an e-visa online or via agency on arrival
                    unless they come from one of the visa exempt countries.
                </p>
                <div class="col-12">
                    <img src="~/Content/img/yurivisa-APPLY FOR- AN- APPROVAL- LETTER- TO- ENTER- VIETNAM.jpg" class="w-100 h-auto">
                </div>
                <hr />
                <p>
                    <strong>2.	Where can expats apply for an approval letter?</strong><br />
                    Sponsoring enterprises or organizations must be present
                    at Immigration Department to carry out procedures for
                    applying for approval for expats entering Vietnam. If the
                    Department approves of that, this agency shall issue a
                    document called <strong>Approval Letter</strong>.<br />

                    Then expats can apply for entry visa at Vietnamese diplomatic missions in expats’
                    home country such Embassy and Consulate General or they can apply for visa at border gates or international airports.
                </p>
                <p>
                    3.	Types of approval letter include:<br />
                    	Approval letter for the purpose of tourism<br />
                    	Approval letter for the purpose of business<br />
                    	Approval letter for the purpose of employment<br />
                </p>
                <p>
                    <strong> 4.	Documents for application for approval letters include:</strong><br />
                    	Business registration certificate/ investment certificate: 02 certified true copies<br />
                    	Seal sample certificate: 02 certified true copies<br />
                    	Signature sample registration certificate (of Director or Deputy Director): 01 original<br />
                    	Expats’ passport: 01 copy<br />
                    	Application for entering Vietnam made according to form N2: 01 original signed and sealed by sponsoring enterprises or organizations<br />
                    	Recommendation letter from enterprises or organizations: 01 original<br />
                    	Expat’s working plan in Vietnam: 01 original<br />
                    	Processing time: 2-3 working days (receiving the approval letter within 1 working day is possible).<br />
                </p>
                <p>
                    <strong> 5.	In order to complete such documents, you shall provide us with only documents/ informations as below:</strong><br />
                    	Copy and scanned copy of your passport<br />
                    	Expected entry date<br />
                </p>
                <p>
                    <strong>
                        We are able to process difficult cases such as expats coming
                        from nations in Africa, the Middle East, etc. or apply for approval
                        letter for URGENT cases at airports or border gates. Using service of
                        application for approval letters of YURIVISA, you shall receive helpful
                        consultancy, besides, procedure is simple and price is competitive. Please
                        feel free to contact our consultants at our hotline: 0961 063 374 or Email: Info@yurivisa.com
                        to know more details.
                    </strong>
                </p>
            </div>
            <div class="col-12 col-md-3  text-uppercase mx-auto mr-md-auto ml-md-3">
                <div class="py-4 d-block d-md-none col-12"></div>
                <div>
                    <div class="card border-radius-10 bg-dark text-white box-shadow-black">
                        <img class="card-img img-filter-black" src="~/Content/img/yurivisa-history.jpg" alt="Card image">
                        <div class="card-img-overlay  d-flex flex-column justify-content-center">
                            <h3 class="card-title">About our Office</h3>
                            <a href="~/about-us" class="btn bg-orange-3 text-light">LEARN MORE</a>
                        </div>
                    </div>
                </div>
                <div class="d-block col-12 py-4"></div>
                <div class="p-4 text-light bg-linear-black box-shadow-black">
                    <p class="text-orange-3">
                        <big><i class="fas fa-map-marker-alt"></i> visit us</big>
                    </p>
                    <small>13, Street 41, Ward 10, District 6, HO CHI MINH City</small>
                    <hr />
                    <p class="text-orange-3"><big><i class="fas fa-phone"></i> Call us</big><br /></p>
                    <small>Call us on <a class="link-standard" href="tel:0352165585">+84 352 165 585 </a></small>
                    <hr />
                    <p class="text-orange-3"><big><i class="far fa-envelope"></i> Mail us</big></p>
                    <small>Mail us on <a class="link-standard" href="mailto:info@yurivisa.com">info@yurivisa.com </a></small>
                </div>
            </div>
        </div>
    </div>
    <div class="py-4 d-block col-12"></div>
</div>