
@{
    ViewBag.Title = "ChucTet_VietHan";
    Layout = "~/Views/Shared/_Layout.cshtml";
}


<div class="bg-linear-black">
    <div class=" mx-auto p-0">
        <div class="row  text-orange-3 p-2">
            <div class="col-11 col-md-8 col-lg-6 mx-auto ml-md-auto mr-md-0 text-white box-shadow-black py-4">
                <div class="row border-bottom border-orange-1">
                    <div class="col-6 col-sm-5 col-md-4 col-lg-3 bg-orange-4">
                        <i class="far fa-clock"></i>
                        <small> 16th October 2018</small>
                    </div>
                    <div class="col-5 col-sm-4 col-md-3 col-lg-2 bg-orange-4">
                        <i class="far fa-edit"></i>
                        <small>By <i>Yurivisa</i></small>
                    </div>
                </div>
                <br/>
                <h2 class="text-center">
                    <span style="color:#c80f10">
                        <strong>
                            Tổng hợp câu chúc tết độc đáo và ý nghĩa nhất 2019 bằng tiếng Hàn
                        </strong>
                    </span>
                </h2>
                <p>
                    <strong>
                        Vậy là những ngày cuối năm của năm cũ sắp qua đi, chào đón một năm mới đã đến, chào đón những điều mới lạ, những thử thách và cả những thay đổi của bản thân. Đây cũng là thời điểm ta gửi đến người thân thương, bạn bè… những lời chúc tốt đẹp nhất vào năm mới.
                    </strong>
                </p>
                <p><strong>Nếu bạn đang theo học tiếng Hàn yêu mến văn hóa Hàn Quốc hoặc có ý định sinh sống và làm việc tại Xứ sở kim chi thì những câu chúc tết hay bằng tiếng Hàn Quốc sau sẽ rất giúp ích cho bạn đấy, hãy tham khảo để biết cách chúc tết người Hàn Quốc vào mỗi dịp tết đến như thế nào nhé!</strong></p>
              

                <img src="~/Content/img/ChucTet_VietHan1.jpg" class="w-100 h-auto">

                <h2 style="text-align: center;">
                    <br />
                    <span style="font-size:22px">
                        <span style="font-family:times new roman,times,serif ;">
                            <span style="color:#008000;">
                                  <strong>Những câu chúc tết bằng tiếng Hàn hay nhất 2019</strong>
                                  </span>



                        </span>

                    </span>

                </h2>
                <span style="color:#FF8C00;">
                    <em>
                        <strong>
                            <span style="font-size:20px;">
                                <span style="font-family:times new roman,times,serif;">Năm 2019 tính theo lịch âm gọi là năm Kỷ Hợi, trong tiếng Hàn gọi năm Kỷ Hợi là 기해년 </span>
                           
                            </span>
                        </strong>
                    </em>

                    </span>
                <br />
                <br />

                <span style="font-size:18px;">
                    <span style="font-family:times new roman,times,serif;">
                        <span style="color:#A52A2A;"><strong>1/ 새해 복 많이 받으세요 (seh heh bok mahn ee bahd euh sae yo)</strong></span><br>
                       
                        Chúc mừng năm mới<br>
                        <br>
                        <span style="color:#A52A2A;"><strong>2/ 새해에 늘 건강하시고 소원 성취하시기를 바랍니다 ( se he e/ nưl / kon kang ha si kô / sô won song chuy ha si ki rưl / ba ram nhi ta)</strong></span><br>
                        
                        Chúc năm mới sức khoẻ và thành đạt mọi ước nguyện<br>
                        <br>
                        <span style="color:#A52A2A;"><strong>3/ 새해에 부자 되세요 (se he e/ bu cha /thuê sê yô)</strong></span><br>
                        
                        Chúc năm mới phát tài<br>
                        <br>
                        <span style="color:#A52A2A;"><strong>4/ 새해에 모든 사업에 성공하십시오 (se he e/ mô tưn sa op e/ song kông ha sip si ô)</strong></span><br>
                        
                        Chúc năm mới thành công trong mọi công việc<br>
                        <br>
                        <strong><span style="color:#A52A2A;">5/ 새해에는 항상 좋은 일만 가득하시길 바라며 새해 복 많이 받으세요.</span></strong><br>
                        
                        Chúc nămg mới an khang, thịnh vượng, mọi việc thuận lợi!<br>
                        <br>
                        <strong><span style="color:#A52A2A;">6/ 새해에는 늘 건강하시고 즐거운 일만 가득하길 기원합니다.</span></strong><br>
                        
                        Chúc năm mới khỏe mạnh, nhiều điều vui vẻ<br>
                        <br>
                        <strong><span style="color:#A52A2A;">7/ 새해 복 많이 받으시고 행복한 일만 가득한 한 해 되세요.</span></strong><br>
                        
                        Chúc năm mới an khang, hạnh phúc<br>
                        <br>
                        <strong><span style="color:#A52A2A;">8/ 새해에는 더욱 건강하고 좋은 일 가득하시길 바랍니다.</span></strong><br>
                        
                        Chúc năm mới khỏe mạnh, nhiều điều may mắn<br>
                        <br>
                        <span style="color:#A52A2A;"><strong>9/ 새해에는 늘 행복과 사랑이 가득한 기분 좋은 한 해 되시기를 기원합니다.</strong></span><br>
                        
                        Chúc năm mới ngập tràn niềm vui, dồi dào sức khỏe, tình yêu
                    </span>
                </span>
                <!--chèn ảnh chuctetviethan2-->
                <br />
                <br />
                <img src="~/Content/img/ChucTet_VietHan2.jpg" class="w-100 h-auto">
                <br />
                <br />

                <span style="font-size:18px;">
                    <span style="font-family:times new roman,times,serif;">
                        <span style="color:#A52A2A;"><strong>10/ &nbsp;새해에는 계획하시고 바라시는 일 이루는 한 해 되시길 간절히 바랍니다.</strong></span><br>
                        
                        Chúc năm mới thành công với những dự định đề ra<br>
                        <br>
                        <strong><span style="color:#A52A2A;">11/ &nbsp;2019년에는 새로운 희망과 행복들이 가득한 한 해 되시길 바랍니다.</span></strong><br>
                        
                        Chúc năm mới, nhiều hạnh phúc và hy vọng mới<br>
                        <br>
                        <span style="color:#A52A2A;"><strong>12/&nbsp; 2019년 소망하는 모든 일들이 풍성한 결실을 맺기를 기원합니다.</strong></span><br>
                        
                        Chúc năm mới an khang, vạn sự như ý<br>
                        <br>
                        <span style="color:#A52A2A;"><strong>13/&nbsp; 2019년 새해 가족 모두 화목하시고 건강하시길 기원합니다.</strong></span><br>
                        
                        Chúc cả gia đình năm mới khỏe mạnh, thuận hòa<br>
                        <br>
                        <span style="color:#A52A2A;"><strong>14/&nbsp; 2019년에는 언제나 웃음과 행복, 사랑이 가득한 한 해 되시기를 기원합니다.</strong></span><br>
                        
                        Chúc năm mới luôn ngập tràn tiếng cười, tình yêu<br>
                        <br>
                        <strong><span style="color:#A52A2A;">15/&nbsp; 2019년 새해 이루고자 하시는 일을 모두 성취하시는 한 해가 되기를 바랍니다.</span></strong><br>
                        
                        Chúc năm mới đạt được nhiều thành công, thực hiện được mọi ước mơ<br>
                        <br>
                        <strong><span style="color:#A52A2A;">16/&nbsp; 2019년 새해를 맞이하여 행운과 평안이 가득하기를 기원합니다.</span></strong><br>
                        
                        Chúc năm mới bình an, may mắn<br>
                        <br>
                     
                    </span>
                </span>
                <br />
                <br />
                <!--chèn ảnh chuctetviethan3-->
                <img src="~/Content/img/ChucTet_VietHan3.jpg" class="w-100 h-auto">
                <br />
                <br />

                <p style="text-align: center;">
                    <span style="font-size:18px;">
                        <span style="font-family:times new roman,times,serif;">
                            <span style="color:#A52A2A;">
                                새해 복 많이 받으세요<br>
                                지난해보다 더더 건강하셔야 되구요<br>
                                지난해보다 더더 행복하셔야되구요<br>
                                지난해보다 더더 부자되세요
                            </span>
                        </span>
                    </span>
                </p>

                <p style="text-align: center;">
                <span style="font-size:18px;">
                    <span style="font-family:times new roman,times,serif;">
                    Những lời chúc tốt đẹp cho năm mới hạnh phúc<br>
                    Chúc khỏe mạnh hơn so với năm ngoái<br>
                    Hạnh phúc hơn so với năm ngoái<br>Và là người giàu có hơn so với năm ngoái.
                     </span>
                    </span>
                    </p>


                <span style="color:#DAA520;"><em><strong>Đừng ngại ngần trao những lời chúc tết độc đáo và ý nghĩa đến người thân hay bạn bè thậm chí là những người mới quen nhé!!!!</strong></em></span>
               </div>
            <div class="col-12 col-md-3  text-uppercase mx-auto mr-md-auto ml-md-3">
                <div class="py-4 d-block d-md-none col-12"></div>
                <div>
                    <div class="card border-radius-10 bg-dark text-white box-shadow-black">
                        <img class="card-img img-filter-black" src="~/Content/img/yurivisa-history.jpg" alt="Card image">
                        <div class="card-img-overlay  d-flex flex-column justify-content-center">
                            <h3 class="card-title">About our Office</h3>
                            <a href="~/about-us" class="btn bg-orange-3 text-light">LEARN MORE</a>
                        </div>
                    </div>
                </div>
                <div class="d-block col-12 py-4"></div>
                <div class="p-4 text-light bg-linear-black box-shadow-black">
                    <p class="text-orange-3">
                        <big><i class="fas fa-map-marker-alt"></i> visit us</big>
                    </p>
                    <small>13, Street 41, Ward 10, District 6, HO CHI MINH City</small>
                    <hr />
                    <p class="text-orange-3"><big><i class="fas fa-phone"></i> Call us</big><br /></p>
                    <small>Call us on <a class="link-standard" href="tel:0352165585">+84 352 165 585 </a></small>
                    <hr />
                    <p class="text-orange-3"><big><i class="far fa-envelope"></i> Mail us</big></p>
                    <small>Mail us on <a class="link-standard" href="mailto:info@yurivisa.com">info@yurivisa.com </a></small>
                </div>
            </div>
        </div>
    </div>
    <div class="py-4 d-block col-12"></div>
</div>