
@{
    ViewBag.Title = "Dulichhanquocdedang";
}

<section class="pt-5 text-dark">
    <div class="row bg-white col-12 col-md-10 col-lg-6 mx-auto">
        <div class="col-8 py-5 pl-3">
            <div>
                <div>
                    <img class="w-100 h-auto " src="~/Content/img/du-lich-han-quoc.jpg" />
                </div>
                <div style="font-size:18px;">
                    <h4 class="display-2 text-danger" style="font-size:40px;font-family:Arial;font-weight:800"><strong> TOURIST VISA</strong></h4>

                    <h1 style="font-size:24px;font-weight:bolder">
                        DU LỊCH HÀN QUỐC<br />
                        DỄ DÀNG!
                    </h1>
                    <h2 style="font-size:18px;"> <b>DISCOUNT 20% ĐẾN HẾT NGÀY 20/12/2018!</b></h2>

                    <p class="text-primary">

                        Giảm trực tiếp 20% giá dịch vụ làm visa Du lịch Hàn Quốc tự túc cho tất cả khách Việt Nam có hộ khẩu phía Nam khi đăng ký dịch vụ và đặt cọc từ 07/12/2018 đến hết ngày 20/12/2018.
                    </p>
                    <div class="row">
                        <div class="col-6">
                            <img class="w-100 h-auto" src="~/Content/img/du-lich-han-quoc-icon-1.png" />
                        </div>
                        <div class="col-6 px-3 py-0 ml-auto text-primary">
                            <p>

                                Bất chấp ngày apply, bất chất ngày bay, chỉ cần đặt cọc dịch vụ trong dịp này là tiết kiệm ngay 20%.

                                Chần chờ gì nữa mà không đăng ký ngay để được Team tụi mình tư vấn nào!!!
                            </p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-4 pr-3 pl-2  d-block my-5">
            <div class="w-100">
                <div class="text-center py-5 text-white" style="background-color:rgb(102,153,0);">
                    <p style="font-weight:bolder;font-size:larger">
                        DU LỊCH<br />
                        HÀN QUỐC<br />
                        <span style="font-weight:normal">
                            TỰ TÚC
                        </span>
                    </p>

                    <div class="mx-auto my-3" style="width:70px;height:5px;background-color:white;"></div>
                    <p style="font-weight:bolder;font-size:larger">
                        MIỄN PHÍ<br />

                        <span style="font-weight:normal">
                            TƯ VẤN HỒ SƠ
                        </span>
                    </p>
                    <div class="mx-auto my-3" style="width:70px;height:5px;background-color:white;"></div>
                    <p style="font-weight:bolder;font-size:larger">
                        HỖ TRỢ<br />

                        <span style="font-weight:normal">
                            CHỨNG MINH TÀI CHÍNH
                        </span>
                    </p>
                    <div class="mx-auto my-3" style="width:70px;height:5px;background-color:white;"></div>
                    <p style="font-weight:bolder;font-size:larger">
                        HOTLINE: <br />+8435 2165 585


                    </p>
                    <div class="mx-auto my-3" style="width:70px;height:5px;background-color:white;"></div>

                    <p style="font-weight:bolder;font-size:larger">
                        EMAIL: <br />YURI@YURIVISA.COM
                    </p>
                    <div class="mx-auto my-3" style="width:70px;height:5px;background-color:white;"></div>


                </div>
            </div>
            <div class="w-100 mt-4">
                <div class="text-center py-2 text-white" style="background-color:rgb(204,0,102);">
                    <p style="font-weight:bolder;font-size:larger">
                        YURIVISA<br />
                                <span style="font-weight:normal">
                                    13 Đường 41, Phường 10, Quận 6, TP.HCM<br /> +84 365 2165 585 <br />http://Yurivisa.com <br />05.12.2018
                                </span>
                    </p>
                </div>
            </div>
        </div>
    </div>

</section>