
@{
    ViewBag.Title = "EXTENSION AND RENEWAL OF VIETNAM VISA";
}

<div class="bg-linear-black">
    <div class=" mx-auto p-0">
        <div class="row  text-orange-3 p-2">
            <div class="col-11 col-md-8 col-lg-6 mx-auto ml-md-auto mr-md-0 text-white box-shadow-black py-4">
                <div class="row border-bottom border-orange-1">
                    <div class="col-6 col-sm-5 col-md-4 col-lg-3 bg-orange-4">
                        <i class="far fa-clock"></i>
                        <small> 16th October 2018</small>
                    </div>
                    <div class="col-5 col-sm-4 col-md-3 col-lg-2 bg-orange-4">
                        <i class="far fa-edit"></i>
                        <small>By <i>Yurivisa</i></small>
                    </div>
                </div>
                <h2 class="text-center">
                    <strong>
                        EXTENSION AND RENEWAL OF VIETNAM VISA
                    </strong>
                </h2>
                <p>
                    <strong>
                        We provide Vietnam entry Visa services with the desire to serve and deliver true value to our customers.
                        Your satisfaction is our success! You do not take time to wait and concern about the consular legalization’s signature,
                        our supporting visa team are always ready to support and accompany you!
                    </strong>
                </p>
                <p><strong>You Have To Know</strong></p>
                <p>
                    Since 1/1/2015, under the latest regulation on granting visas to expats
                    who want to enter Vietnam, competent State agencies shall not conduct renewal of
                    expats’ Vietnam visa. Therefore, expats must exit Vietnam before expiry date of
                    their visas then carry out procedure to reenter Vietnam. If you don’t want to
                    exit Vietnam and want to apply for issuance of visa to continue staying in Vietnam
                    instead, please contact YURIVISA’s consultants for best solution.
                </p>

                <img src="~/Content/img/yurivisa-EXTENSION- AND- RENEWAL- OF -VIETNAM -VISA.jpg" class="w-100 h-auto">

                <p>
                    In order to apply visa extension, your current visa has to meet some requirements
                    of Vietnam Immigration Department.
                </p>

                <p>Your current visa type has to be correspondent to your staying extending requirement.</p>

                <p>
                    Stay in 1 more month: If your current visa is 1 month single, 1 month multiple, 3 month single or
                    3 months multiple entry visa, you are allowed apply to extend visa in 1 more month.<br />
                    Stay in 3 more months: If your current visa is 3 months single or 3 months multiple
                    entry visa, you can apply to extend visa in 3 more months.
                </p>
                <p>
                    The visa renewal fee is higher than the visa extension fee because we have to
                    pay stamping fee and visa sticker fee for you. Visa renewal is ready for someone who:<br />
                    Entered Vietnam with visa exemption.<br />
                    Has current visa is not correspondent to your staying extending requirement.<br />
                    If you would like to upgrade your current visa from 1 month to 3 months, you have to apply to
                    renew 3 months single entry or 3 months multiple entry.<br />
                    If you would like to upgrade your current visa from single entry to multiple entry, you have to apply to renew visa.
                </p>
                <p>
                    <strong>
                        For fast processing time and convenience in applying for visa, apart from forms prepared by YURIVISA,
                        you shall give us the following documents:
                    </strong><br />

                    1. Request form for application for issuance, amendment or supplement of visa, extension of temporary
                    residence (Form N5) (certified by sponsoring organizations or enterprises; for expats who want to
                    enter Vietnam to visit relatives, such documents shall be certified by Public Security of commune
                    or ward where expats are temporarily residing).<br />
                    2. Original passport and visa.<br />
                    3. Temporary residence certification (or temporary residence card) certified by
                    Public Security of commune or ward where expats are temporarily residing.<br />
                    4. 1 certified true copy or 1 copy (originals are required for comparison) of
                    documents proving your entry purposes (such documents as investment licenses,
                    work permits, marriage certificates, birth certificates and so on, depending on certain cases).
                    Documents issued by foreign agencies shall undergo consular authentication and notarized translation
                    by Justice Divisions or Departments.
                </p>
                <p>
                    <strong> Remark</strong><br />
                    1. Processing time: 5 - 7 working days since receipt of full documents.<br />
                    2. Form N5: subject to certification by organizations or enterprises in Vietnam
                    if such organizations or enterprises are sponsors for your application for visa.<br />
                    3. Sufficient documents proving your stay purpose in Vietnam are required.
                </p>
            </div>
            <div class="col-12 col-md-3  text-uppercase mx-auto mr-md-auto ml-md-3">
                <div class="py-4 d-block d-md-none col-12"></div>
                <div>
                    <div class="card border-radius-10 bg-dark text-white box-shadow-black">
                        <img class="card-img img-filter-black" src="~/Content/img/yurivisa-history.jpg" alt="Card image">
                        <div class="card-img-overlay  d-flex flex-column justify-content-center">
                            <h3 class="card-title">About our Office</h3>
                            <a href="~/about-us" class="btn bg-orange-3 text-light">LEARN MORE</a>
                        </div>
                    </div>
                </div>
                <div class="d-block col-12 py-4"></div>
                <div class="p-4 text-light bg-linear-black box-shadow-black">
                    <p class="text-orange-3">
                        <big><i class="fas fa-map-marker-alt"></i> visit us</big>
                    </p>
                    <small>13, Street 41, Ward 10, District 6, HO CHI MINH City</small>
                    <hr />
                    <p class="text-orange-3"><big><i class="fas fa-phone"></i> Call us</big><br /></p>
                    <small>Call us on <a class="link-standard" href="tel:0352165585">+84 352 165 585 </a></small>
                    <hr />
                    <p class="text-orange-3"><big><i class="far fa-envelope"></i> Mail us</big></p>
                    <small>Mail us on <a class="link-standard" href="mailto:info@yurivisa.com">info@yurivisa.com </a></small>
                </div>
            </div>
        </div>
    </div>
    <div class="py-4 d-block col-12"></div>
</div>