
@{
    ViewBag.Title = "VIETNAM VISA SERVICES FOR FOREIGNER";
}

<div class="col-12 p-5 bg-img" style="background-image:url(/Content/img/yurivisa-good-visa-services-go-around-the-word.jpg)">
    <div class="p-5 col-12 p-5"></div>
    <div class="bg-orange-3 p-4 col-12 col-md-10 col-lg-8 mx-auto border-radius-10 shadow-head-black" style="margin-bottom:-100px;z-index:3">
        <h2 class="text-light text-center">VIETNAM VISA SERVICES FOR FOREIGNER</h2>
    </div>
</div>
<section class="col-12 bg-linear-black mx-auto row">
    <div class="p-5 d-block col-12"></div>
    <div class="col-11 col-md-8 col-lg-6 mx-auto ml-md-auto mr-md-0 text-white box-shadow-black py-4">
        <div class="mb-4">
            <div class="mb-3 row">
                <div class="col-12 p-0 ">
                    <img class="w-100 h-auto border-radius-5" src="~/Content/img/yurivisa-ISSUANCE OF VIETNAM VISA.jpg" alt="Card image cap">
                </div>
                <div class="col-12">
                    <a href="/vietnam-visa-services-for-foreigner/issuance-of-vietnam-visa" class="link-standard"> <h5 class="card-title text-center">ISSUANCE OF VIETNAM VISA</h5></a>
                    <h5 class="card-text text-muted">Last updated 14/10/2018</h5>
                    <p class="card-text">
                        If you want to enter Vietnam for work, study, tourism and visiting relatives,… you
                        are required to show passports and entry visas into Vietnam granted by Vietnamese diplomatic missions
                        in your home country (Embassy, Consulate General.…) or Immigration Departments at airports or border
                        gates, except for those who are exempt from Vietnam visas under provisions of Vietnam State [...]
                    </p>

                </div>
            </div>
        </div>
        <hr class="bg-orange-3" />
        <div class="my-4">
            <div class="mb-3 module row">
                <div class="col-12 col-md-5 p-0 ">
                    <img class="border-radius-5 w-100 h-100" src="~/Content/img/yurivisa-EXTENSION- AND- RENEWAL- OF -VIETNAM -VISA.jpg" alt="Card image cap">
                </div>
                <div class="col-12 col-md-7">
                    
                    <a href="/vietnam-visa-services-for-foreigner/extension-and-renewal-of-vietnam-visa" class="link-standard"> <h5 class="card-title text-center">EXTENSION AND RENEWAL OF VIETNAM VISA</h5></a>
                    <p class="card-text">
                        Since 1/1/2015, under the latest regulation on granting visas to expats who want to
                        enter Vietnam, competent State agencies shall not conduct renewal of expats’ Vietnam visa. Therefore, expats
                        must exit Vietnam before expiry date of their visas then carry out procedure to reenter Vietnam. If you don’t
                        want to exit Vietnam and want to apply for issuance of visa to continue staying in Vietnam instead, please
                        contact YURIVISA’s consultants for best solution [...]
                    </p>
                    <p class="card-text"><small class="text-muted">Last updated 14/10/2018</small></p>
                </div>

            </div>
        </div>
        <hr class="bg-orange-3" />
        <div class="my-4">
            <div class="mb-3 row">
                <div class="col-12 col-md-5 p-0 ">
                    <img class="w-100 h-100 border-radius-5" src="~/Content/img/yurivisa-APPLY FOR- AN- APPROVAL- LETTER- TO- ENTER- VIETNAM.jpg" alt="Card image cap">
                </div>
                <div class="col-12 col-md-7">
                    <a href="/vietnam-visa-services-for-foreigner/apply-for-an-approval-letter-to-enter-vietnam" class="link-standard"> <h5 class="card-title text-center">APPLY FOR AN APPROVAL LETTER TO ENTER VIETNAM</h5></a>
                    <p class="card-text">
                        1.	What is an approval letter?<br />
                        Approval Letter is the legal document approved by the Vietnam Immigration Department
                        to allow foreigners enter into Vietnam and pick up visa at the overseas Embassies or
                        Consulates of Vietnam, or at the international border gates or at the Vietnam’s international
                        airports as Tan Son Nhat, Noi Bai and Da Nang, Cam Ranh and Phu Quoc airport. Visitors to Vietnam
                        must obtain a visa [...]
                    </p>
                    <p class="card-text"><small class="text-muted">Last updated 14/10/2018</small></p>
                </div>

            </div>
        </div>
        <hr class="bg-orange-3" />
        <div class="my-4">
            <div class="mb-3 row">
                <div class="col-12 col-md-5 p-0 ">
                    <img class="w-100 h-100 border-radius-5" src="~/Content/img/yurisa-TEMPORAR- RESIDENCE- CARD.jpg" alt="Card image cap">
                </div>
                <div class="col-12 col-md-7">
                    <a class="link-standard" href="/vietnam-visa-services-for-foreigner/temporary-residence-card"><h5 class="text-center">TEMPORARY RESIDENCE CARD</h5></a>
                    <p class="card-text">
                        Ten years ago, foreigners who wanted to stay in Vietnam for a long period of time
                        were only able to apply for a six- to twelve-month visa and were not exempted for entry or exit visa.<br />
                        After the issuance of the Ordinance No. 24/2000 on Entry, Exit and Residence of foreigners in Vietnam, a
                        foreigner may get permanent or temporary residence card valid for one to three years. The card will
                        act as a proof of identity and an entry visa when traveling within [...]
                    </p>
                    <p class="card-text"><small class="text-muted">Last updated 14/10/2018</small></p>
                </div>

            </div>

        </div>
    </div>
    <div class="col-12 col-md-3  text-uppercase mx-auto mr-md-auto ml-md-3">
        <div class="p-4 d-block d-md-none col-12"></div>
        <table class="table  bg-linear-black  text-center box-shadow-black">
            <thead>
                <tr>
                    <th scope="col" class="border-top-0"> <a class="link-standard" href="/vietnam-visa-services-for-vietnamese">VISA SERVICES FOR VIETNAMESE</a></th>
                </tr>
            </thead>
            <thead>
                <tr>
                    <th scope="col">  <a class="link-standard" href="http://Chungminhtaichinhhochiminh.com">FINANCE PROOF</a></th>
                </tr>
            </thead>
            <tbody>
                <tr>
                    <th scope="col">  <a class="link-standard" href="#"> CONSULAR LEGALIZATION</a></th>
                </tr>
            </tbody>
        </table>
        <div class="d-block col-12 py-4"></div>
        <div>
            <div class="card border-radius-10 bg-dark text-white box-shadow-black">
                <img class="card-img img-filter-black" src="~/Content/img/yurivisa-history.jpg" alt="Card image">
                <div class="card-img-overlay  d-flex flex-column justify-content-center">
                    <h3 class="card-title">About our Office</h3>
                    <a href="~/about-us" class="btn bg-orange-3 text-light">LEARN MORE</a>
                </div>
            </div>
        </div>
        <div class="d-block col-12 py-4"></div>
        <div class="p-4 text-light bg-linear-black box-shadow-black">
            <p class="text-orange-3">
                <big><i class="fas fa-map-marker-alt"></i> visit us</big>
            </p>
            <small>13, Street 41, Ward 10, District 6, HO CHI MINH City</small>
            <hr />
            <p class="text-orange-3"><big><i class="fas fa-phone"></i> Call us</big><br /></p>
            <small>Call us on <a class="link-standard" href="tel:0352165585">+84 352 165 585 </a></small>
            <hr />
            <p class="text-orange-3"><big><i class="far fa-envelope"></i> Mail us</big></p>
            <small>Mail us on <a class="link-standard" href="mailto:info@yurivisa.com">info@yurivisa.com </a></small>
        </div>
    </div>
    <div class="d-block p-4 col-12"></div>
</section>

