
@{
    ViewBag.Title = "VISA SERVICES FOR VIETNAMESE";
}
<div class="col-12 p-5 bg-img" style="background-image:url(/Content/img/yurivisa-good-visa-services-go-around-the-word.jpg)">
    <div class="p-5 col-12 p-5"></div>
    <div class="bg-orange-3 p-4 col-12 col-md-10 col-lg-8 mx-auto border-radius-10 shadow-head-black" style="margin-bottom:-100px;z-index:3">
        <h2 class="text-light text-center">VISA SERVICES FOR VIETNAMESE</h2>
    </div>
</div>
<section class="col-12 bg-linear-black mx-auto row">
    <div class="p-5 d-block col-12"></div>
    <div class="col-11 col-md-8 col-lg-6 mx-auto ml-md-auto mr-md-0 text-white box-shadow-black py-4">
        <div class="mb-4">
            <div class="mb-3 row">
                <div class="col-12 p-0 ">
                    <img class="w-100 h-auto border-radius-5" src="~/Content/img/yurivisa-ISSUANCE OF VIETNAM VISA.jpg" alt="Card image cap">
                </div>
                <div class="col-12">
                    <a href="/vietnam-visa-services-for-vietnamese/tourist-visa" class="link-standard"> <h5 class="card-title text-center">TOURIST VISA</h5></a>
                    <h5 class="card-text text-muted">Last updated 14/10/2018</h5>
                    <p class="card-text">
                       VISA is a kind of endorsement or acknowledgment, whose
                        specific meaning differs from country to country. Generally
                        speaking, however, it is used to mean one of the following two 
                        things; One being the 'permission to enter' a given country, and the other
                        being the 'consul's recommendation for a foreigner's entry request.'<br />
                        In case of the Republic of Korea, the latter definition is [...]
                    </p>
                </div>
            </div>
        </div>
        <hr class="bg-orange-3" />
    </div>
    <div class="col-12 col-md-3  text-uppercase mx-auto mr-md-auto ml-md-3">
        <div class="p-4 d-block d-md-none col-12"></div>
        <table class="table  bg-linear-black  text-center box-shadow-black">
            <thead>
                <tr>
                    <th scope="col" class="border-top-0"> <a class="link-standard" href="/vietnam-visa-services-for-foreigner">VIETNAM VISA SERVICES FOR FOREIGNER</a></th>
                </tr>
            </thead>
            <thead>
                <tr>
                    <th scope="col">  <a class="link-standard" href="http://Chungminhtaichinhhochiminh.com">FINANCE PROOF</a></th>
                </tr>
            </thead>
            <tbody>
                <tr>
                    <th scope="col">  <a class="link-standard" href="#"> CONSULAR LEGALIZATION</a></th>
                </tr>
            </tbody>
        </table>
        <div class="d-block col-12 py-4"></div>
        <div>
            <div class="card border-radius-10 bg-dark text-white box-shadow-black">
                <img class="card-img img-filter-black" src="~/Content/img/yurivisa-history.jpg" alt="Card image">
                <div class="card-img-overlay  d-flex flex-column justify-content-center">
                    <h3 class="card-title">About our Office</h3>
                    <a href="~/about-us" class="btn bg-orange-3 text-light">LEARN MORE</a>
                </div>
            </div>
        </div>
        <div class="d-block col-12 py-4"></div>
        <div class="p-4 text-light bg-linear-black box-shadow-black">
            <p class="text-orange-3">
                <big><i class="fas fa-map-marker-alt"></i> visit us</big>
            </p>
            <small>13, Street 41, Ward 10, District 6, HO CHI MINH City</small>
            <hr />
            <p class="text-orange-3"><big><i class="fas fa-phone"></i> Call us</big><br /></p>
            <small>Call us on <a class="link-standard" href="tel:0352165585">+84 352 165 585 </a></small>
            <hr />
            <p class="text-orange-3"><big><i class="far fa-envelope"></i> Mail us</big></p>
            <small>Mail us on <a class="link-standard" href="mailto:info@yurivisa.com">info@yurivisa.com </a></small>
        </div>
    </div>
    <div class="d-block p-4 col-12"></div>
</section>