
@{
    ViewBag.Title = "Huongdanhosovisahanquoctutuc";
}

<section class="bg-img" style="background-image:url(/Content/img/alarm-clock-art-background-1037993.jpg ">
    <div class="col-6 mx-auto pt-5 pb-3 bg-white" style="box-shadow:0px 0px 2px rgb(0,0, 0);">
        <div class="text-center mt-5">
            <h1 style="font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;color:rgb(255, 0, 110);font-weight:bolder">
                HƯỚNG DẪN CHUẨN BỊ HỒ SƠ<br />
                VISA DU LỊCH HÀN QUỐC TỰ TÚC
            </h1>
        </div>
        <div style="color:rgb(18, 82, 102)">
            <div id="table1">
                <table class="table table-bordered">
                    <thead style="background-color:rgb(226,244, 250);">
                        <tr class="text-center">

                            <th scope="col">Loại VISA</th>
                            <th scope="col">Phí lãnh sự</th>
                            <th scope="col">Phí dịch vụ</th>
                            <th scope="col">HỒ SƠ</th>
                            <th scope="col">TÀI LIỆU</th>
                        </tr>
                    </thead>
                    <tbody style="background-color:rgb(245,231, 244);">
                        <tr>
                            <td>Du lịch, C-3-9</td>
                            <td>20 USD</td>
                            <td>80 USD</td>
                            <td>
                                - Passport gốc<br />
                                - Ảnh 3,5x4,5cm nền trắng được chụp trong 6 tháng gần nhất<br />
                                - Đơn xin visa<br />
                                - Lịch trình tham quan, book vé máy bay khứ hồi, book khách sạn)<br />
                                - Chứng minh công việc:<br />
                                + Đối với nhân viên: Hợp đồng lao động, nghỉ phép, sao kê lương 3 tháng gần nhất hoặc xác nhận lương từ công ty, bảo hiểm xã hội (nếu có).<br />
                                + Đối với chủ doanh nghiệp: Giấy phép kinh doanh, tờ khai thuế quý gần nhất, sao kê tài khoản công ty.<br />
                                + Nội trợ, người không chứng minh được công việc qua hồ sơ như trên: xác nhận công việc của địa phương, xác nhận nghỉ hưu (nếu có), hình ảnh đính kèm (nếu có).<br />
                                - Chứng minh tài chính (Tham khảo: http://chungminhtaichinhhcm.com):<br /> Sổ tiết kiệm có số dư trong sổ từ 5000USD, sổ đỏ nhà đất, giấy tờ xe hoặc các giấy tờ có giá trị khác.<br />
                                - Hồ sơ bảo lãnh nếu có: Thư bảo lãnh, scan 2 mặt ID card của người bảo lãnh<br />
                                - Nếu đi cùng người thân, vợ, chồng, con:<br /> Giấy chứng minh quan hệ gia đình (sổ hộ khẩu hoặc giấy khai sinh hoặc giấy chứng nhận đăng ký kết hôn)<br />
                                *** Yêu cầu:<br />
                                - Tất cả tài liệu tiếng Việt phải được dịch sang tiếng Anh hoặc tiếng Hàn, công chứng tư pháp<br />
                                - Tất cả giấy tờ phải đúng khổ A4<br />
                            </td>
                            <td>*visa_application_form KOR (15.06.15.).pdf</td>
                        </tr>

                    </tbody>
                </table>
            </div>
            <div>
                <p style="color:rgb(255, 0, 110);">
                    <b>   *** Thời gian nhận hồ sơ:</b>
                </p>
                <p>
                    Buổi sáng: 9h-12h<br />
                    Buổi chiều: 1h30-2h
                    </p>
                <p style="color:rgb(255, 0, 110);">
                    <b> *** Nơi nộp hồ sơ:</b>
                </p>
                <p>
                    - Nếu nơi sinh trong hộ chiếu và hộ khẩu thường trú thuộc khu vực từ Đà Nẵng trở ra Bắc phải nộp tại Đại sứ quán Hàn Quốc tại Hà Nội.<br />
                    - Nếu nơi sinh trong hộ chiếu thuộc khu vực từ Đà Nẵng trở ra Bắc được nộp trong Lãnh sự quán Hàn Quốc cần bổ sung thêm một trong những giấy tờ sau:<br />
                    + Hộ khẩu thường trú thuộc trong khu vực từ Quảng Nam trở vào các tỉnh phía Nam (dịch và công chứng tư pháp).<br />
                    + Sổ tạm trú + hợp đồng lao động trong trường hợp đang làm việc dài hạn từ khu vực Quảng Nam trở vào. (dịch và công chứng tư pháp)<br />
                    </p>
                <p>
                    <small><i> <b>NGUỒN</b>: TỔNG ĐẠI SỨ QUÁN HÀN QUỐC TẠI HỒ CHÍ MINH</i></small>
                </p>
            </div>
        </div>
    </div>
</section>
