
@{
    ViewBag.Title = "ISSUANCE OF VIETNAM VISA";
}
<div class="bg-linear-black">
    <div class=" mx-auto p-0">
        <div class="row  text-orange-3 p-2">
            <div class="py-4 col-12 d-block"></div>
            <div class="col-11 col-md-8 col-lg-6 mx-auto ml-md-auto mr-md-0 text-white box-shadow-black py-4">
                <div class="row border-bottom border-orange-1">
                    <div class="col-6 col-sm-5 col-md-4 col-lg-3 bg-orange-4">
                        <i class="far fa-clock"></i>
                        <small> 16th October 2018</small>
                    </div>
                    <div class="col-5 col-sm-4 col-md-3 col-lg-2 bg-orange-4">
                        <i class="far fa-edit"></i>
                        <small>By <i>Yurivisa</i></small>
                    </div>
                </div>
                <h2 class="text-center text-orange-3">
                    <strong>
                        ISSUANCE OF VIETNAM VISA
                    </strong>
                </h2>
                <h5 class="text-center">
                    <strong>
                        We provide Vietnam entry Visa services with the desire to serve and deliver true value to our customers.
                        Your satisfaction is our success! You do not take time to wait and concern about the consular legalization’s signature,
                        our supporting visa team are always ready to support and accompany you!
                    </strong>
                </h5>
                <img class="h-auto w-100" src="~/Content/img/yurivisa-ISSUANCE OF VIETNAM VISA.jpg" />
                <p>
                    If you want to enter Vietnam for work, study, tourism and visiting relatives,…
                    you are required to show passports and entry visas into Vietnam granted by Vietnamese
                    diplomatic missions in your home country (Embassy, Consulate General.…) or Immigration
                    Departments at airports or border gates, except for those who are exempt from Vietnam visas
                    under provisions of Vietnam State.
                </p>
                <p>
                    Realizing huge demands for obtaining visas to enter Vietnam, YURIVISA provides service with regard to applying for visas and extension of visas on behalf of expats who want to apply for Vietnam visas for tourism, employment, study, visiting relatives, etc with simple, fast and professional procedures and best service fees.
                </p>
                <p>
                    <strong>Entry visa application services offered by YURIVISA</strong><br />
                    <div class="row px-1 px-md-3 px-lg-5 ">
                        <div class="col-10 mx-auto col-md-6">
                            <i class="fas fa-check"></i>
                            1 month single<br />
                            (30 days stay, only 1 time entry/exit)
                        </div>
                        <div class="col-10 mx-auto col-md-6">
                            <i class="fas fa-check"></i>
                            1 month multiple<br />
                            (30 days stay, multiple times of entry/exit)
                        </div>
                        <div class="col-10 mx-auto col-md-6">
                            <i class="fas fa-check"></i>
                            3 months single<br />
                            (90 days stay, only 1 time entry/exit)
                        </div>
                        <div class="col-10 mx-auto col-md-6">
                            <i class="fas fa-check"></i>
                            3 months multiple<br />
                            (90 days stay, multiple times of entry/exit)
                        </div>
                        <div class="col-10 mx-auto col-md-6">
                            <i class="fas fa-check"></i>
                            6 months multiple<br />
                            (180 days stay, multiple times of entry/exit)
                        </div>
                        <div class="col-10 mx-auto col-md-6">
                            <i class="fas fa-check"></i>
                            1 year multiple<br />
                            (1 year stay, multiple times of entry/exit)
                        </div>
                    </div>
                </p>
                <p>
                    <strong>To apply for a new visa quickly and conveniently, valuable customers should follow our steps:</strong><br />
                    <div class="py-0 px-4">
                        <strong>
                            Step 1
                        </strong>: Filling in Vietnam Visa information form on expats’ entry.<br />
                        <strong>
                            Step 2
                        </strong> : Consulting visa types that are suitable with certain cases.<br />
                        <strong>
                            Step 3
                        </strong> : You are only required to scan your passport, dates of entry to and exit
                        Vietnam and send them to us via email: Info@yurivisa.com<br />
                        <strong>
                            Step 4
                        </strong> : Yurivisa would like to check documents provided by customer and provide the quotation for value customers.<br />
                        <strong>
                            Step 5
                        </strong> : We shall prepare all required documents and submit them to Immigration Department
                        on behalf of you. Term of answer: 3-7 business days<br />
                        <strong>
                            Step 6
                        </strong> : Delivering visa approval letter and guide customers how to stick visa to passport.
                    </div>

                </p>
            </div>
            <div class="col-12 col-md-3  text-uppercase mx-auto mr-md-auto ml-md-3">
                <div class="py-4 d-block d-md-none col-12"></div>
                <div>
                    <div class="card border-radius-10 bg-dark text-white box-shadow-black">
                        <img class="card-img img-filter-black" src="~/Content/img/yurivisa-history.jpg" alt="Card image">
                        <div class="card-img-overlay  d-flex flex-column justify-content-center">
                            <h3 class="card-title">About our Office</h3>
                            <a href="~/about-us" class="btn bg-orange-3 text-light">LEARN MORE</a>
                        </div>
                    </div>
                </div>
                <div class="d-block col-12 py-4"></div>
                <div class="p-4 text-light bg-linear-black box-shadow-black">
                    <p class="text-orange-3">
                        <big><i class="fas fa-map-marker-alt"></i> visit us</big>
                    </p>
                    <small>13, Street 41, Ward 10, District 6, HO CHI MINH City</small>
                    <hr />
                    <p class="text-orange-3"><big><i class="fas fa-phone"></i> Call us</big><br /></p>
                    <small>Call us on <a class="link-standard" href="tel:0352165585">+84 352 165 585 </a></small>
                    <hr />
                    <p class="text-orange-3"><big><i class="far fa-envelope"></i> Mail us</big></p>
                    <small>Mail us on <a class="link-standard" href="mailto:info@yurivisa.com">info@yurivisa.com </a></small>
                </div>
            </div>
        </div>
    </div>
    <div class="py-4 d-block col-12"></div>
</div>
