
@{
    ViewBag.Title = "News";
}
<section class="text-white bg-linear-black py-3">
    @*<div class="position-relative box-shadow-black m-3 border-radius-10" style="box-shadow:black 0px 10px 10px;">
            <img class=" w-100 h-auto border-radius-10" src="~/Content/img/yurivisa-news-banner.jpg" />

            <div class="text-center py-5 position-absolute text-center bg-black-30 border-radius-10" style="bottom:0;right:0;left:0">
                <p class="display-2 text-orange-4">News</p>
            </div>
        </div>*@
    <section class="row mx-2 my-5">

        <div class="bg-orange-3 p-2 mx-auto mt-5 mb-3" style="box-shadow:black 0px 10px 10px;">
            <h3><i class="fas fa-edit"></i> Bài viết mới</h3>
        </div>


        <div class="col-12 mt-2 px-0">
            <div class=" mx-3 bg-black-70 " style="box-shadow:black 0px 10px 10px;">

                <div class="position-relative">

                    <div class="col-12 position-absolute mt-5 px-0 pt-5" style="z-index:10;">
                        <div class="text-white col-8 pl-5">
                            <h1 class="display-2">
                                <a class="link-white" href="/Home/Dulichhanquocdedang">

                                    <b>
                                        DU LỊCH HÀN QUỐC<br />
                                        DỄ DÀNG!
                                    </b>
                                </a>
                            </h1>
                        </div>
                        <div class="p-2 col-4 bg-orange-4 mb-3"></div>
                        <div class="col-5 pl-5">
                            <h3 class="text-primary ">
                                <strong>
                                    DISCOUNT 20% <br />
                                    ĐẾN HẾT NGÀY<br />
                                    20/12/2018!
                                </strong>
                            </h3>
                        </div>


                    </div>

                    <div class="col-10 ml-auto px-0">

                        <img class="Set-img" src="~/Content/img/Picture1.png" />
                    </div>
                </div>
            </div>

        </div>
        <div class="card-deck mx-3 my-5 px-0">
            <div class="card bg-black">
                <img class="card-img-top" src="~/Content/img/laptop-3196481_1280.jpg" alt="Card image cap">
                <div class="card-body">
                    <p class="card-text">
                        <strong>
                            LÀM THẾ NÀO ĐỂ HỒ SƠ VISA DU LỊCH
                            HÀN QUỐC TỰ TÚC CÓ TÍNH THUYẾT PHỤC CAO?
                        </strong>
                    </p>
                </div>
            </div>
            <div class="card bg-black">
                <img class="card-img-top" src="~/Content/img/no-1426591_1280.png" alt="Card image cap">
                <div class="card-body">
                    <p class="card-text">
                        <strong>
                            DANH SÁCH CÁC HUYỆN NẰM TRONG
                            DANH SÁCH ĐEN CỦA HÀN QUỐC
                        </strong>
                    </p>
                </div>
            </div>
            <div class="card bg-black">
                <img class="card-img-top" src="~/Content/img/board-1647322_1920.jpg" alt="Card image cap">
                <div class="card-body">
                    <p class="card-text">
                        <strong>
                            THÔNG BÁO CHÍNH THỨC VỀ HỒ SƠ
                            VISA DU LỊCH HÀN QUỐC 10 NĂM NHIỀU LẦN
                        </strong>
                    </p>
                </div>
            </div>
        </div>

        <div class="col-10 mx-auto">
            <div class="row mx-3 my-3 col-12">
                <div class="hexagon  bg-orange-3"></div>

                <div class="col-7 ml-3">
                    <p class="card-text">
                        <strong>
                            NÊN BOOK VÉ MÁY BAY BAY GIỜ NÀO LÀ HỢP LÝ NHẤT?
                        </strong>
                    </p>
                </div>
            </div>
            <div class="border-dashed w-100 mb-3"></div>
            <div class="row mx-3 my-3 col-12">
                <div class="hexagon  bg-orange-3"></div>

                <div class="col-7 ml-3">
                    <p class="card-text">
                        <strong>
                            DU LỊCH HÀN QUỐC KHÔNG CÒN LÀ ƯỚC MƠ
                        </strong>
                    </p>
                </div>
            </div>
            <div class="border-dashed w-100 mb-3"></div>
            <div class="row mx-3 my-3 col-12">
                <div class="hexagon  bg-orange-3"></div>

                <div class="col-7 ml-3">
                    <p class="card-text">
                        <strong>
                            NÊN BOOK VÉ MÁY BAY BAY GIỜ NÀO LÀ HỢP LÝ NHẤT?
                        </strong>
                    </p>
                </div>
            </div>
            <div class="border-dashed w-100 mb-3"></div>
            <div class="row mx-3 my-3 col-12">
                <div class="hexagon  bg-orange-3"></div>

                <div class="col-7 ml-3">
                    <p class="card-text">
                        <strong>
                            DU LỊCH HÀN QUỐC KHÔNG CÒN LÀ ƯỚC MƠ
                        </strong>
                    </p>
                </div>
            </div>
            <div class="border-dashed w-100 mb-3"></div>
        </div>





    </section>
</section>
