
@{
    ViewBag.Title = "TEMPORARY RESIDENCE CARD";
}
<div class="bg-linear-black">
    <div class=" mx-auto p-0">
        <div class="row  text-orange-3 p-2">
            <div class="col-11 col-md-8 col-lg-6 mx-auto ml-md-auto mr-md-0 text-white box-shadow-black py-4">
                <div class="row border-bottom border-orange-1">
                    <div class="col-6 col-sm-5 col-md-4 col-lg-3 bg-orange-4">
                        <i class="far fa-clock"></i>
                        <small> 16th October 2018</small>
                    </div>
                    <div class="col-5 col-sm-4 col-md-3 col-lg-2 bg-orange-4">
                        <i class="far fa-edit"></i>
                        <small>By <i>Yurivisa</i></small>
                    </div>
                </div>
                <h2 class="text-center ">
                    <strong>
                        TEMPORARY RESIDENCE CARD
                    </strong>
                </h2>
                <p><strong> You Have To Know:</strong></p>
                <p>
                    Ten years ago, foreigners who wanted to stay in Vietnam for a long period
                    of time were only able to apply for a six- to twelve-month visa and were not exempted for entry or exit visa.
                </p>
                <p>
                    After the issuance of the Ordinance No. 24/2000 on Entry,
                    Exit and Residence of foreigners in Vietnam, a foreigner may
                    get permanent or temporary residence card valid for one to three years. The card
                    will act as a proof of identity and an entry visa when traveling within, in
                    and out of Vietnam. This helps foreigners save a large amount of time and money
                    for visa application as well as visa extension during the entry, exit and residence in Vietnam.
                </p>
                <div class="col-12">
                    <img src="~/Content/img/yurisa-TEMPORAR- RESIDENCE- CARD.jpg" class="w-100 h-auto">
                </div>
                <p>
                    Foreigners who hold Work Permits valid for one year or more,
                    as well as senior management, can be granted a Temporary
                    Residential Card (TRC). A TRC is issued by the immigration
                    agency under the Ministry of Public Security, and will be valid
                    from 1 to 5 years. People granted a TRC can enter and exit Vietnam
                    without a visa within the valid terms of their TRC.
                </p>
                <p>
                    Who can apply:<br />
                    Members of a limited liable company with two members or more<br />
                    Owner of a one-member limited liability company<br />
                    Members in the Board of a joint-stock company<br />
                    Foreign lawyers who have been licensed by Ministry of Justice to practice law in Vietnam as stipulated by law<br />
                    Foreigners having work permit, work in various kinds of foreign enterprises
                    and representative offices of foreign companies.<br />
                    Professionals, students, trainees working or studying
                    in national programs and projects signed between the ministries and approved by the government.<br />
                    Accompanying relatives (father, mother, wife, husband, children under 18 of the granting residence card person).<br />
                    Issuing Authority: TRC is issued by the authorized provincial office managing entry and exit under
                    the Ministry of Public Security.
                </p>
                <p>
                    <strong> Required documents:</strong><br />
                    - 01 written request for TRC (form N5A), declaration of information on foreigners<br />
                    applying for TRC (form N5B) with photos (attached 02 photos sized 3x4 cm).
                    - 01 copy of passport or visa which is still valid (bring the original for comparison).<br />
                    - 01 copy (bring the original for comparison) of legal record of the agency, organization or enterprise
                    which gives sponsorship for the person requesting TRC.<br />
                    <i>
                        * Depending on specific cases legal record may include Business registration Certificate
                        or Investment Certificate or License for the establishment of representative office.
                    </i><br />
                    - 01 copy of work permit (bring the original for comparison) in case it is required.<br />
                    -  Proof document of temporary residence address from local police department.<br />
                    - In case of accompanying relatives, documents showing proof of relationship such as: birth
                    certificates, marriage registration and family book are a must.<br />
                <p>
                    Validity:<br />
                    TRC is valid for a period of one to three years.<br />
                    The duration of TRC is at least 01 month shorter than the duration of the passport.<br />
                    No TRC will be issued for person with passport valid for less than one year.<br />
                </p>
                <p>
                    Processing time and  fee:
                    The processing time is 05 working days from the date of receiving complete documents (except for replacing card lost).<br />
                    According to the time limit of TRC. To be specific: one year: USD, from one to two years: USD,
                    from two to three years:  USD. Payment is paid in VND. Exchange rate as Vietcombank.<br />
                </p>
                <p>
                    Useful Information:<br />
                    When you get your TRC lost, you must immediately notify the issuing agency.<br />
                    Re-issuing procedure is similar to granting a new one but the regular processing time is 14 working days<br />
                </p>
            </div>
            <div class="col-12 col-md-3  text-uppercase mx-auto mr-md-auto ml-md-3">
                <div class="py-4 d-block d-md-none col-12"></div>
                <div>
                    <div class="card border-radius-10 bg-dark text-white box-shadow-black">
                        <img class="card-img img-filter-black" src="~/Content/img/yurivisa-history.jpg" alt="Card image">
                        <div class="card-img-overlay  d-flex flex-column justify-content-center">
                            <h3 class="card-title">About our Office</h3>
                            <a href="~/about-us" class="btn bg-orange-3 text-light">LEARN MORE</a>
                        </div>
                    </div>
                </div>
                <div class="d-block col-12 py-4"></div>
                <div class="p-4 text-light bg-linear-black box-shadow-black">
                    <p class="text-orange-3">
                        <big><i class="fas fa-map-marker-alt"></i> visit us</big>
                    </p>
                    <small>13, Street 41, Ward 10, District 6, HO CHI MINH City</small>
                    <hr />
                    <p class="text-orange-3"><big><i class="fas fa-phone"></i> Call us</big><br /></p>
                    <small>Call us on <a class="link-standard" href="tel:0352165585">+84 352 165 585 </a></small>
                    <hr />
                    <p class="text-orange-3"><big><i class="far fa-envelope"></i> Mail us</big></p>
                    <small>Mail us on <a class="link-standard" href="mailto:info@yurivisa.com">info@yurivisa.com </a></small>
                </div>
            </div>
        </div>
    </div>
    <div class="py-4 d-block col-12"></div>
</div>