
@{
    ViewBag.Title = "TouristVisa";
}
<div class="bg-linear-black">
    <div class=" mx-auto p-0">
        <div class="row  text-orange-3 p-2">
            <div class="py-4 col-12 d-block"></div>
            <div class="col-11 col-md-8 col-lg-6 mx-auto ml-md-auto mr-md-0 text-white box-shadow-black py-4">
                <div class="row border-bottom border-orange-1">
                    <div class="col-6 col-sm-5 col-md-4 col-lg-3 bg-orange-4">
                        <i class="far fa-clock"></i>
                        <small> 16th October 2018</small>
                    </div>
                    <div class="col-5 col-sm-4 col-md-3 col-lg-2 bg-orange-4">
                        <i class="far fa-edit"></i>
                        <small>By <i>Yurivisa</i></small>
                    </div>
                </div>
                <h2 class="text-center text-orange-3">
                    <strong>
                        TOURIST VISA
                    </strong>
                </h2>
                <p>
                    <strong>
                        KOREA<br />
                        Yurivisa manages visa application
                        centres for the Republic of Korea in VietNam
                        where you can submit your completed Visa applications. Applicants
                        who wish to apply for a Visa are requested to kindly read the
                        information on this site carefully before applying.

                    </strong>
                </p>
                <h3>OVERVIEW</h3>
                <p><strong>Know Your Visa Type</strong></p>
                <p>
                    VISA is a kind of endorsement or acknowledgment, whose specific meaning differs from country to country. Generally speaking, however, it is used to mean one of the following two things; One being the 'permission to enter' a given country, and the other being the 'consul's recommendation for a foreigner's entry request.'
                </p>
                <p>
                    In case of the Republic of Korea, the latter definition is used. Therefore, even if one was to have a Korean visa, one can still be denied entry to Korean soil should an immigration officer find some requirements unsatisfactory after inspection.
                </p>
                <p>
                    Single Entry Visa
                    <ul>
                        <li>	Only a single-entry is permitted for the duration of the visa.</li>
                        <li>	Valid for 90 days from the date it had been issued.</li>

                    </ul>
                </p>
                <p>
                    Double Entry Visa

                    <ul>
                        <li>	Double-entry Visa holder can stay for 30 days in the validity of 6 months.</li>
                    </ul>
                </p>
                <p>
                    Multiple-entry visa

                    <ul>
                        <li>	Multiple entries are permitted for as long as visa remains valid.</li>
                        <li>
                            Visa provided under multiple-entry visa Agreement: duration specified by
                            an agreement. In case of VietNam, Short Term Business (C-2) Multiple-entry Visa
                            holder can stay for granted length of stay in the given validity period.
                        </li>
                        <li>
                            Applicants who are applying for Business visa may apply for Multiple-entry
                            visa however Embassy of the Republic of Korea, Consutale of Koreaat VietNam
                            reserves the right to grant Multiple/Single Entry Visa to the applicants based on their discretion.
                        </li>
                    </ul>
                </p>

                <div class="col-12 pb-2">
                    <img src="~/Content/img/yurivisa-EXTENSION- AND- RENEWAL- OF -VIETNAM -VISA.jpg" class="w-100 h-auto">
                </div>
                <p>
                    <strong>How To Apply</strong><br />
                    STEP 1: DETERMINE THE TYPE OF SOUTH KOREA VISA THAT YOU NEED TO APPLY FOR<br />
                    Please <u>ensure</u> you are very clear on your ‘purpose of visit’<br />
                </p>
                <p>
                    STEP 2: PREPARE THE REQUIRED DOCUMENTS FOR YOUR APPLICATION<br />

                </p>
                <table class="text-center">
                    <tr>
                        <th>NO.</th>
                        <th>CONTENT</th>
                        <th>QUANTITY</th>
                    </tr>
                    <tr>
                        <th colspan="3">PERSONAL DOCUMENTS</th>
                    </tr>
                    <tr>
                        <td>1</td>
                        <td>
                            Original Passport (old & new) valid for 6 months
                            and also require passport copy 1st and last page 2 sets
                        </td>
                        <td>
                            01
                        </td>
                    </tr>
                    <tr>
                        <td>2</td>
                        <td>
                            Recent photographs 35mm x 45mm with white background,
                            80% face should be seen (Photographs should not be old
                            for more than 6 months)
                        </td>
                        <td>
                            02
                        </td>
                    </tr>
                    <tr>
                        <td>3</td>
                        <td>
                            Identity card (photo)
                        </td>
                        <td>
                            01
                        </td>
                    </tr>
                    <tr>
                        <th colspan="3">FOR EMPLOYEES</th>
                    </tr>
                    <tr>
                        <td>4</td>
                        <td>
                            Original certificate of employment to be printed on your
                            company’s official letterhead. It must contain your position
                            at the company, date hired, salary, office address, HR landline
                            number (cellphone number is not allowed), and HR e-mail address.
                        </td>
                        <td>01</td>
                    </tr>
                    <tr>
                        <th colspan="3">FOR BUSINESSMEN</th>
                    </tr>
                    <tr>
                        <td>05</td>
                        <td>Photocopy and notarized of business registration</td>
                        <td>01</td>
                    </tr>
                    <tr>
                        <td>06</td>
                        <td>Photocopy and notarized of income tax return </td>
                        <td>01</td>
                    </tr>
                    <tr>
                        <th colspan="3">FINANCE PROOF</th>
                    </tr>
                    <tr>
                        <td>5</td>
                        <td>
                            Original personal bank certificate. It must include account
                            type, current balance, account opening date, and 6 months average
                            balance (at least 100.000.000 VNĐ in account bank)
                        </td>
                        <td>01</td>
                    </tr>
                    <tr>
                        <td>6</td>
                        <td>
                            Original or certified true copy of bank statements / passbook for the last three (3) months.
                        </td>
                        <td>01</td>
                    </tr>
                    <tr>
                        <td>7</td>
                        <td>
                            Detail of your trip
                        </td>
                        <td>01</td>
                    </tr>
                    <tr>
                        <td>8</td>
                        <td>
                            Confirmed return air ticket
                        </td>
                        <td>01</td>
                    </tr>
                    <tr>
                        <td>9</td>
                        <td>
                            Hotel confirmation with guest name, check-in, check-out details, payment confirmation details and hotel name and address.
                        </td>
                        <td>01</td>
                    </tr>
                </table>
                <p>Note: Complete your visa application form and affix your photograph. (Note: Ensure photos are as per specifications within 6 moths).</p>
                <p>Attach all supporting documents as per documents required. (Note: Make sure your application is complete. Incomplete applications are not accepted).</p>
                <p>STEP 3: TYPICALLY, THE PROCESSING TIME FOR VISAS BY THE SOUTH KOREA EMBASSY ARE <u>8 WORKING DAYS</u>.</p>
                <p>Dos and Don’ts for South Korea Tourist Visa</p>
                <p>You must remember the following dos and don’ts while applying for South Korea tourist visa.</p>
                <p><i>Dos</i></p>
                <p>
                    Apply for a tourist visa at least 4 weeks in advance of your planned travel date so that there is enough time for the application procedure to be completed on time<br />
                    Fill up your application form carefully with all accurate details<br />
                    Bring original copies and photocopies of all supporting documents when you come to submit your visa application form at the Embassy of South Korea<br />
                    Don’ts<br />
                    Do not present false documents for your tourist visa<br />
                    Do not hide or misrepresent facts in your application<br />
                </p>
                <div>
                    <div class="bg-linear-black border-radius-10 col-10 mx-auto pt-1 box-shadow-black" style="z-index:3;margin-bottom:-20px"><h5 class="text-center text-uppercase text-orange-4">8 REASONS YOU HAVE TO CHOOSE YURIVISA</h5></div>
                    <table class="table  bg-linear-black text-left box-shadow-black text-orange-3">
                        <thead>
                            <tr>
                                <th scope="col" class="border-top-0"> 1. Free Consultation</th>
                                <th scope="col" class="border-top-0">  5. Booking hotel and Ticket</th>
                            </tr>
                        </thead>
                        <thead>
                            <tr>
                                <th scope="col" class="border-top-0"> 2. Check your documents fastly</th>
                                <th scope="col" class="border-top-0"> 6. Financial Proof</th>
                            </tr>
                        </thead>
                        <thead>
                            <tr>
                                <th scope="col" class="border-top-0"> 3. Translation and Notarization</th>
                                <th scope="col" class="border-top-0">  7. Arrange documents</th>
                            </tr>
                        </thead>
                        <thead>
                            <tr>
                                <th scope="col" class="border-0"> 4. Make a plan for your Korea trip</th>
                                <th scope="col" class="border-0"> 8. Detailed submissions and interviews</th>
                            </tr>
                        </thead>
                    </table>
                </div>
            </div>
            <div class="col-12 col-md-3  text-uppercase mx-auto mr-md-auto ml-md-3">
                <div class="py-4 d-block d-md-none col-12"></div>
                <div>
                    <div class="card border-radius-10 bg-dark text-white box-shadow-black">
                        <img class="card-img img-filter-black" src="~/Content/img/yurivisa-history.jpg" alt="Card image">
                        <div class="card-img-overlay  d-flex flex-column justify-content-center">
                            <h3 class="card-title">About our Office</h3>
                            <a href="~/about-us" class="btn bg-orange-3 text-light">LEARN MORE</a>
                        </div>
                    </div>
                </div>
                <div class="d-block col-12 py-4"></div>
                <div class="p-4 text-light bg-linear-black box-shadow-black">
                    <p class="text-orange-3">
                        <big><i class="fas fa-map-marker-alt"></i> visit us</big>
                    </p>
                    <small>13, Street 41, Ward 10, District 6, HO CHI MINH City</small>
                    <hr />
                    <p class="text-orange-3"><big><i class="fas fa-phone"></i> Call us</big><br /></p>
                    <small>Call us on <a class="link-standard" href="tel:0352165585">+84 352 165 585 </a></small>
                    <hr />
                    <p class="text-orange-3"><big><i class="far fa-envelope"></i> Mail us</big></p>
                    <small>Mail us on <a class="link-standard" href="mailto:info@yurivisa.com">info@yurivisa.com </a></small>
                </div>
            </div>
        </div>
    </div>
    <div class="py-4 d-block col-12"></div>
</div>